{% extends "layout.html" %}

{% block content%}

{% load static %}

<header class= "row bg-black" >
    <div class= "col-md-4">
<img src="{% static 'portfolio/mauro_picforgit.jpg' %}" alt="pic mauricio" style="border-radius: 50%;width: 360px; height: 400px;">



    </div>

    <div class= "col-md-8 my-auto">
        <h1>I am <strong>Mauricio Lopez</strong></h1>
        <h3>I am a Python fullStack Developper</h3>
        <p>It is a long established fact that a reader will be distracted by the readable 
        content of a page when looking at its layout. The point of using Lorem Ipsum is 
        that it has a more-or-less normal distribution of letters, as opposed to using 
        'Content here, content here', making it look like readable English. Many desktop 
        publishing packages and web page editors now use Lorem Ipsum as their default 
        model text, and a search for 'lorem ipsum' will uncover many web sites still in 
        their infancy. Various versions have evolved over the years, sometimes by 
        accident, sometimes on purpose (injected humour and the like).</p>
        <a 
        href="{% static 'portfolio/cv_portfolio.pdf' %}" 
        class="btn btn-primary btn-lg rounded-0 my-3">
        Dowload CV</a>
        

    </div>

</header>

<div class="row my-4 text-center">

    <h3>My projects</h3>
    <p>It is a long established fact that a reader will be distracted by the readable content of 
        a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less 
        normal distribution of letters, as opposed to using 'Content here, content here', making it look 
        like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum 
        as their default model text, and a search for 'lorem ipsum' will uncover many web sites still 
        in their infancy. Various versions have evolved over the years, sometimes by accident, 
        sometimes on purpose (injected humour and the like).</p>




{%for project in projects %}

    <div class= "col-md-4 p-4">
        <div class="card bg-black card-project">
            <img 
            src= "{{project.image.url}}" 
            alt="{{project.title}}" 
            class="img-top"
            />
            <div class="card-body">
                <h2>{{project.title}}</h2> 
                <p>{{project.description}}</p>
        
        <!-- para validar en caso que no exista una url yo puedo crear un if -->
        <!-- esto quiere decir : si el project de la url existe anade href y termina el if con endif -->

                {% if project.url %}
                <a 
                href="{{project.url}}" 
                class= "btn btn-light round-0 btn-sm" 
                target="_blank"
                >{{project.url}}</a>  

                {% endif %}
            </div>
        </div> 
</div>     

{% endfor %} 

{% endblock%}
</div>
